{% extends "base_breadcrumbs.html" %}
{% block mainContent %}
	<div class="hero-unit">
      <div class="row">
		<div class="span4">
		<h1>{{category.name}}</h1>
		<p>{{category.tagline}}</p>
		<p>
			<a class="btn btn-primary btn-large">
			Learn more
			</a>
		</p>
		</div>
		<div class="span6">
			<img src="{{category.logo}}" alt="{{category.name}}" width="350px"/>
		</div>
		</div>
		
	</div>
	<hr>
	<div class="row show-grid" style="margin-bottom:20px">
		<div class="span12 popular-tags">
			<h4>Popular tags</h4>
			<div>
			{% for category_tag in tag_list %}
			{% ifequal category_tag.1 '1' %}
			<a href="{{request.path}}?{{filter_query}}&remove_filter={{category_tag.0.name}}"><span style="color: blue">{{category_tag.0.name}}</span></a>
			{% else %}
			<a href="{{request.path}}?{{filter_query}}&add_filter={{category_tag.0.name}}"><span>{{category_tag.0.name}}</span></a>
			{% endifequal %}
			{% endfor %} 
			</div>
		</div>
	</div>
	<hr>
	{% for product in product_list %}
	<div class="row show-grid" style="margin-top:5px">
		<div class="span12 product-row">
			<h3>{{product.name}} &nbsp; &nbsp; &nbsp; | &nbsp; &nbsp; &nbsp; {{product.tagline}}</h3>
			<div class="row product-inner-row">
				<hr>
				<div class="span2 product-element">
					<img src="{{product.logo}}"/>
				</div>
				<div class="span7 product-element">
					<p>{{product.desc}}Some description some description some description Some description some description some description Some description some description some description</p>
				</div>
				<div class="span1 offset1">
					<h5 style="margin-top:5px;margin-left:20px">6 &uarr; 2 &darr;</h5>
					<hr>
					<h5 style="margin-top:5px;margin-left:20px">4 reviews</h5>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}

{% endblock %}