{% extends "base_breadcrumbs.html" %}
{% block mainContent %}
      <!-- Example row of columns -->
      {% for category in category_list %}
      {% if forloop.counter0|add:"3"|divisibleby:"3" %}
        	<div class="row show-grid">
      {% endif %}
        	<div class="span4" style="border:2px">
          		<h2 style="font-family:Port Lligat Sans; font-size:20px">{{ category.name }}</h2>
           		<p><img src="{{category.logo}}" alt="{{ category.name }}" height="150" width="150" /></p>
        	</div>
      {% if forloop.counter|divisibleby:'3' %}
        	</div>
      {% endif %}

      {% endfor %}
      <div class="row show-grid">
        <div class="span12">
			<button class="btn btn-inverse" style="width:100%; height:50px" type="submit">Show More</button>
		</div>
	  </div>
      <hr>

{% endblock %}
