{% extends "base_breadcrumbs.html" %}
{% block mainContent %}

	<div class="hero-unit">
      <div class="row show-grid">
		<div class="span4">
		<h1>{{product.name}}</h1>
		<p>{{product.tagline}}</p>
		<p>
			<a class="btn btn-primary btn-large">
			Learn more
			</a>
		</p>
		</div>
		<div class="span6">
			<img src="{{product.logo}}" alt="{{product.name}}" width="350px"/>
		</div>
		</div>
		
	</div>
	<hr>
	<div class="row show-grid">
		<div class="span6">
			<h4>Includes</h4>
			<p>
				{% for product_tag in include_tag_list %}
				{{product_tag.tag.name}}
				{% if not forloop.last %}
				,
				{% endif %}
				{% endfor %}
			</p>
		</div>
		<div class="span6">
			<h4>Excludes</h4>
			<p>
				{% for product_tag in exclude_tag_list %}
				{{product_tag.tag.name}}
				{% if not forloop.last %}
				,
				{% endif %}
				{% endfor %}
			</p>
		</div>
	</div>
<div style="height: 2px; background-color: white; text-align: center;margin-top:30px">
  <span style="font-size:18px;background-image: url('http://subtlepatterns.com/patterns/light_toast.png');position: relative; top: -0.65em;padding-left:5px;padding-right:5px">
    Screenshots
  </span>
</div>
	<div class="row show-grid" style="margin-top: 20px">
		{% for screenshot in screenshot_list %}
		<div class="span3"><img src="{{screenshot.url}}" alt="{{product.name}}" width="auto"/></div>
		{% endfor %}
	</div>
<div style="height: 2px; background-color: white; text-align: center;margin-top:30px">
  <span style="font-size:18px;background-image: url('http://subtlepatterns.com/patterns/light_toast.png');position: relative; top: -0.65em;padding-left:5px;padding-right:5px">
    Videos
  </span>
</div>
	<div class="row show-grid" style="margin-top: 20px">
				  <div class="span6">
				  <iframe width="280" height="235" src="http://www.youtube.com/embed/sdy_lqK41FU" frameborder="0" allowfullscreen></iframe>
				  </div>
				  <div class="span6">
				  <iframe width="280" height="235" src="http://www.youtube.com/embed/sdy_lqK41FU" frameborder="0" allowfullscreen></iframe>
				  </div>
			  </div>
<div style="height: 2px; background-color: white; text-align: center;margin-top:30px">
  <span style="font-size:18px;background-image: url('http://subtlepatterns.com/patterns/light_toast.png');position: relative; top: -0.65em;padding-left:5px;padding-right:5px">
    Presentations
  </span>
</div>
	<div class="row show-grid" style="margin-top: 20px">
			  </div>

{% endblock %}
